{% extends "core/base.html" %}

{% block title %}Energy Stats - Tracker{% endblock %}

{% block page_header %}
<div class="page-header">
    <div class="page-title">
        Energy Transition Tracker
        <span class="page-pill">Work in progress</span>
    </div>
    <div class="page-subtitle">
        Progress on the energy transition can be measured on two major dimensions: electrification of the total energy supply, and
        transition of the electricity grid to low-carbon fuels (renewables and nuclear). Taken together, these dimensions
        give us a rough picture of how the transition is progressing around the world.
    </div>
</div>
{% endblock %}

